# Node.js
node_modules/
npm-debug.log*

# Cypress
cypress/videos/
cypress/screenshots/
cypress/reports/

# Cypress environment files
cypress.env.json

# Environment variables
.env

# Logs
*.log
*.tmp
*.bak

# OS-specific
.DS_Store
Thumbs.db

# Ignore the database directory except for SQL files
db_orange/*
!db_orange/*.sql
cypress.env.json
