# Archivos y directorios generados automáticamente
node_modules/
dist/
.cache/
coverage/

# Archivos de compilación
/build/
/out/

# Archivos de dependencias de desarrollo
*.log
*.tmp
*.bak

# Carpetas y archivos específicos para Cypress
cypress/videos/
cypress/screenshots/

# Archivo específico para MySQL
orangehrm/db_orange/mysql.sock
